/* Memory Game CSS - V1.0.0.6 */

/* General Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background: #1aa6bc;
  background-image: linear-gradient(to top left, #5964b6fa, #1abc6a);
  font-family: Arial, sans-serif;
  text-align: center;
}

/* Header Styling */
header {
  color: white;
  letter-spacing: 10px;
  font-size: 22px;
  padding: 10px 5px;
}

@media only screen and (min-width: 768px) {
  header {
    font-size: 28px;
  }
}

@media only screen and (min-width: 1024px) {
  header {
    font-size: 32px;
    padding: 10px;
  }
  
  header h1 {
    font-weight: 400;
  }
}

/* Center the Main Section */
.center-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Button Sections */
#single-player-btn, #multiplayer-btn, #leaderboard-btn {
  background-color: #28a745;
  color: white;
  padding: 15px;
  border: none;
  margin: 10px;
  width: 80%;
  max-width: 300px;
  cursor: pointer;
}

#single-player-btn:hover, #multiplayer-btn:hover, #leaderboard-btn:hover {
  background-color: #218838;
}

/* Modal Styles */
#single-player-modal, #multiplayer-modal, #leaderboard-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  text-align: center;
  z-index: 999;
  display: none; /* Hidden until triggered */
}

/* Add specific styles for buttons and labels */
#single-player-options, #multiplayer-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #218838;
}

input {
  padding: 10px;
  margin-top: 10px;
}

/* Social Login Buttons */
.social-login {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.social-login:hover {
  background-color: #218838;
}

/* Hidden class for display management */
.hidden {
  display: none;
}